/* *****Celulares Padrão***** */
/*Até 370px*/
@media (max-width: 370px) {
    /*Menu*/

    .generalMenu span {
        margin: auto;
        margin-top: 10px;
    }

    .elementsMenu {
        display: none;
    }
    /*Fim Menu*/

    /*Section 1*/
    .section-1 {
        flex-direction: column;
        padding-top: 70px;
        padding-bottom: 105px;
    }

    .my-ft {
        width: 80%;
        margin: auto;
    }

    .elements {
        padding-left: 0px;
        text-align: center;
    }

    .divIcons {
        margin-left: 80px;
        gap: 80px;
    }

    .msg-respons-init {
        display: block;
    }
    /*Fim Section 1*/

    /*Section 2*/

    .msg-respons {
        display: block;
        padding: 15px;
    }

    .msg-respons br {
        display: none;
    }

    /*Fim Section 2*/

    /*Section 3*/

    .msgs {
        display: none;
    }

    .msg-respons2 {
        display: block;
        padding: 10px;
    }

    .pElement4 {
        display: none;
    }

    .msg-respons3 {
        display: block;
        padding: 15px;
    }

    /*Fim Section 3*/

    /*Section 4*/

    .pElement4 {
        padding-right: 50px;
    }

    .project1 {
        width: 90%;
    }

    .project2 {
        width: 90%;
    }

    .msg-respons2 {
        margin-left: 20px;
    }

    .project3 {
        width: 90%;
    }

    .msg-respons3 {
        margin-left: 20px;
    }

    /*Fim Section 4*/

    /*Section 5*/

    .educationP {
        margin-left: 25px;
    }

    /*Fim Section 5*/

    /*Footer*/

    .msg-footer {
        font-size: 13px;
    }

    .voltar {
        width: 8%;
        margin-top: -8px;
    }

    /*Fim Footer*/
}

/* *****Celulares Maiores***** */
/*Entre 371px e 576px*/
@media (min-width: 371px) and (max-width: 576px) {
    /*Menu*/

    .generalMenu span {
        margin: auto;
        margin-top: 10px;
    }

    .elementsMenu {
        display: none;
    }
    /*Fim Menu*/

    /*Section 1*/
    .section-1 {
        flex-direction: column;
        padding-top: 70px;
        padding-bottom: 105px;
    }

    .my-ft {
        width: 80%;
        margin: auto;
    }

    .elements {
        padding-left: 50px;
    }

    .msgs {
        display: none;
    }

    .msg-respons-init {
        display: block;
        margin-right: 20px;
    }

    .divIcons {
        margin-left: 50px;
        gap: 80px;
    }
    /*Fim Section 1*/

    /*Section 2*/

    .msg-respons {
        display: block;
        padding: 10px;
    }

    /*Fim Section 2*/

    /*Section 4*/

    .pElement4 {
        padding-right: 20px;
    }

    .pElement4 br {
        display: none;
    }

    .project1 {
        width: 95%;
    }

    .project2 {
        width: 95%;
    }

    .msg-respons2 {
        display: block;
        padding: 10px;
    }

    .project3 {
        width: 95%;
    }

    .pElement4 {
        display: none;
    }

    .msg-respons3 {
        display: block;
        padding: 15px;
    }

    /*Fim Section 4*/

    /*Section 5*/

    .educationP {
        margin-left: 50px;
    }

    .voltar {
        width: 8%;
        margin-top: -8px;
    }

    /*Fim Section 5*/
}